head
	meta(charset='utf-8')
	title= pageTitle + ' - ' + siteTitle
	meta(name='author', content= author )
	meta(name='viewport', content='width=device-width, user-scalable=no')
	meta(name='description', content= metaDesc )
	meta(name='apple-mobile-web-app-title', content='Мебелюка')
	meta(name='application-name', content='Mebeluka')
	meta(name='msapplication-TileColor', content='#ff6800')
	meta(name='msapplication-TileImage', content='assets/images/icons/ico/mstile-150x150.png')
	meta(name='theme-color', content='#ffffff')
	meta(name='msapplication-config', content='assets/images/icons/ico/browserconfig.xml')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='white')
	link(rel='icon', type='image/png', href='assets/images/icons/ico/favicon-16x16.png', sizes='16x16')
	link(rel='icon', type='image/png', href='assets/images/icons/ico/favicon-32x32.png', sizes='32x32')
	link(rel='icon', type='image/png', href='assets/images/icons/ico/android-chrome-192x192.png', sizes='192x192')
	link(rel='apple-touch-icon', type='image/png', href='assets/images/icons/ico/apple-touch-icon.png')
	link(rel='manifest', href='assets/images/icons/ico/manifest.json')
	link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')
	link(rel='stylesheet', media="print", type='text/css', href='assets/css/print.min.css')