.alert
	.row
		.col-10.col-lg-12.alert__text!= 'ВНИМАНИЕ! Отгрузка "самовывозов" осуществляется с промежуточного склада, расположенного рядом с магазином. Отгрузка непосредственно из выстовочного зала осуществляется по предварительной договоренности (малогабаритного товара: вешалки, сервировочные столики и.т.п.'