.annals
	.container
		.row
			.col-12
				h2.annals__title Летопись
				.annals__author Григорий Сергеев, директор магазина Мебелюка.
		.row.annals__item
			.col-12
				.left.annals__item-year 2004
				.annals__item-content
					h3.annals__item-title В 2004 году мы работали в центре Москвы на Курской в формате офис - центр выдачи заказов.
					.annals__item-text!= 'Прямо на месте принимали заявки, отгружали мебель, оттуда же осуществляли доставку.<br>Складировали мебель в контейнере на территории и прямо в комнате, где работали.<br>В этом формате мы продержались до 2005года, когда приняли решение о необходимости выставочного зала. Тогда наши покупатели могли посмотреть на отдельные предметы мебели, потрогать их, принять решение о покупке, руководствуясь не только картинкой на сайте.<br>Тогда же в 2005 году мы сделали редизайн интернет магазина. В то время это shkafa.net. Название объясняется крайне просто, мы <br>действительно не торговали шкафами.'
		.row.annals__item
			.col-12
				.left.annals__item-year 2005
				.annals__item-content
					h3.annals__item-title!= 'С 2005 по 2007 мы увеличили площадь магазина с 20 до 150 метров и приняли решение открыть <br>второй офф-лайн магазин прямо рядом с метро.'
					.annals__item-text!= '<p>Выбор пал на метро Новогиреево.<br>Через полгода мы открыли третий оффлайн магазин на Дмитровском шоссе.<br>Открытие новых торговых точек происходило одновременно с ребрендингом. Родилась Мебелюка.  Мы сосредоточились на концепции. Это <br>всегда было крайне важно для нас. Задача была и есть не заработок как таковой. Задача - развитие нормального рынка в массовом секторе. Задача- натуральная и экологичная мебель, кстати, совсем не значит дорогая. И, наконец,  задача- обратить ваше внимание на бесконечные возможности украшать интерьер, вытаскивая на белый свет различные необычности и красивости.</p><p>Мы до сих пор мало контачим с ДСП и прочим МДФ, только если они высокого экокласса.</p><p>Мы сохраняем привычным многим устройство сайта с 2005 года, улучшая его, делая более удобным для наших покупателей.</p>'
		.row.annals__item
			.col-12
				.left.annals__item-year 2008
				.annals__item-content
					h3.annals__item-title Кризис пришел не сразу.
					.annals__item-text!= 'Почувствовав его дыхание, мы закрыли все торговые точки, кроме одной, головной, в ТЦ Аладдин на Носовихинском шоссе.<br>Несмотря на кризис, наш магазин, по оценкам экспертов, продолжал держаться в первой десятке. И сейчас мы держим эти позиции, лишь <br>иногда выпадая на 11-13 места рейтинга всех мебельных магазинов Рунета.'
		.row.annals__item
			.col-12
				.left.annals__item-year 2010
				.annals__item-content
					h3.annals__item-title!= 'Мы выполнили очередной редизайн сайта, он стал еще удобнее.<br>Кроме того, увеличили количество доставочных машин.'
		.row.annals__item
			.col-12
				.left.annals__item-year 2011
				.annals__item-content
					h3.annals__item-title!= 'Уменьшили срок доставки основных товаров. При этом, довели количество товаров до 4000(!) <br>наименований.'
		.row.annals__item
			.col-12
				.left.annals__item-year 2012
				.annals__item-content
					h3.annals__item-title!= 'Увеличили количество автомобилей доставки и снизили ее стоимость.'
					.annals__item-text!= 'Приступили к детальному анализу ассортимента, рынка и нашего предложения.<br>Мощная аналитика, как мы надеемся, позволит нам быть еще ближе к вам - покупателям.<br>Сегодня Мебелюка- это наша жизнь. Мы заинтересованы, чтобы наш покупатель был доволен. Это цель номер один.<br>Для этого всё. И снижение цен, и расширение ассортимента, и более удобный сайт, и шустрая доставка и многое другое.'
		.row.annals__item
			.col-12
				.left.annals__item-year 2013
				.annals__item-content
					h3.annals__item-title!= 'В этом году мы с гордостью представляем вам новый дизайн сайта.'
					.annals__item-text!= 'Мы учли многие пожелания по оптимизации работы сайта, многие изменения основаны на письмах наших постоянных клиентов.<br>Мы постоянно продолжаем искать и находить новые модели мебели и предметов интерьера и в этом году сильно расширили товарные предложения.'