section.bottom-text
	.container
		.row
			.col-12 Каталог нашего интернет-магазина состоит из моделей кроватей различных расцветок: белого цвета, черного цвета и других. У нас представлены кровати классика, кровати модерн, кровати прованс, кровати арт-деко и изделия других стилей. На складе в наличии более 200 моделей! Если Вы знаете артикул мебели и не нашли модель на сайте - позвоните +7 495 225 99 18, возможно мы сможем помочь Вам в поиске!