section.cart
	form(action="")
		.container
			.row
				.col-12
					.cart-products
						.cart-products__item
							.cart-products__item-img
								img(src="assets/images/content/cart-img.jpg", alt="")
							.cart-products__item-content
								.product-table
									.product-table__item
										span Наименование товара
										span
											a(href="#") Двуспальная кровать Глэдис-РБ
									.product-table__item
										span Цена
										span 8580 ₽
									.product-table__item
										span Кол-во
										span
											input(type="text", value="1")
									.product-table__item
										span Сумма
										span 8580 ₽
			.row
				.col-12
					.cart-total
						.cart-total__item Всего на сумму
						.cart-total__item
							a(href="#") Пересчитать
						.cart-total__item 8580 ₽
			.row
				.col-5
					.cart-contacts
						.cart-contacts__title Контактная информация
						.cart-contacts__body
							.cart-contacts__group
								label.input-lb(for="cart-name")!='Ваше имя<span>*</span>'
								input(type="text", id="cart-name")
							.cart-contacts__group
								label.input-lb(for="cart-phone") Контактный телефон
								input(type="tel", id="cart-phone")
							.cart-contacts__group
								label.input-lb(for="cart-email") Email
								input(type="email", id="cart-email")
				.col-7
					.cart-contacts
						.cart-contacts__title Вы можете указать дополнительную информацию по вашему заказу
						.cart-contacts__body
							.cart-contacts__list
								.cart-contacts__list-item
									strong Оплата
									.cart-contacts__list-group
										input(type="radio", name="payment", value="payment1", id="payment1" checked)
										label(for="payment1") Наличные
									.cart-contacts__list-group
										input(type="radio", name="payment", value="payment2", id="payment2")
										label(for="payment2") Безнал
									.cart-contacts__list-group
										input(type="radio", name="payment", value="payment3", id="payment3")
										label(for="payment3") Частное лицо
									.cart-contacts__list-group
										input(type="radio", name="payment", value="payment4", id="payment4")
										label(for="payment4") Юр. лицо
								.cart-contacts__list-item
									strong Сборка товара
									.cart-contacts__list-group
										input(type="radio", name="assembly", value="assembly1", id="assembly1" checked)
										label(for="assembly1") Нужна
									.cart-contacts__list-group
										input(type="radio", name="assembly", value="assembly2", id="assembly2")
										label(for="assembly2") Не нужна
									.cart-contacts__list-group
										a(href="#") Условия сборки
								.cart-contacts__list-item
									strong Доставка
									.cart-contacts__list-group
										input(type="radio", name="delivery", value="delivery1", id="delivery1" checked)
										label(for="delivery1") Нужна
									.cart-contacts__list-group
										input(type="radio", name="delivery", value="delivery2", id="delivery2")
										label(for="delivery2") Не нужна
									.cart-contacts__list-group
										a(href="#") Условия доставки
							.cart-contacts__group
								label.input-lb(for="cart-delivery") Адрес доставки
								input(type="text", id="cart-delivery")
							.cart-contacts__group
								label.input-lb(for="cart-mess") Комментарий
								textarea(name="cart-mess", id="cart-mess")
					.cart-contacts.cart-contacts--sub
						.cart-contacts__sub
							input(type="submit", value="Отправить заказ")