.contact-information
	.contact-information__item.contact-information__item_phones
		ul.contact-information__phones
			li.contact-information__phone!= '<a href="tel:+84952259918" class="contact-information__link">8 (495) 225-99-18</a> <span class="contact-information__phone-type">(многоканальный)'
			li.contact-information__phone!= '<a href="tel:+88007757318" class="contact-information__link">8 (800) 775-73-18</a> <span class="contact-information__phone-type">(бесплатно для регионов)'
	.contact-information__item.contact-information__item_time Прием заказов по телефону с 10:00 по 21:00
	.contact-information__item.contact-information__item_email!= '<a href="mailto:info@mebeluka.ru" class="contact-information__link">info@mebeluka.ru</a>'