section.filters
	.container
		.row
			.col-12
				.filters__mob-title
					span Параметры поиска
					a(href="#")!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14.72" height="14.719" viewBox="0 0 14.72 14.719"><path d="M8.754,7.344 L14.411,13.000 C14.801,13.391 14.801,14.024 14.411,14.415 C14.020,14.806 13.387,14.806 12.997,14.415 L7.340,8.758 L1.683,14.415 C1.292,14.806 0.659,14.806 0.269,14.415 C-0.122,14.024 -0.122,13.391 0.269,13.000 L5.926,7.344 L0.269,1.687 C-0.122,1.297 -0.122,0.663 0.269,0.273 C0.659,-0.118 1.292,-0.118 1.683,0.273 L7.340,5.929 L12.997,0.273 C13.387,-0.118 14.020,-0.118 14.411,0.273 C14.801,0.663 14.801,1.297 14.411,1.687 L8.754,7.344 Z" class="cls-1"/></svg>'
				.filters__item.filters__item--price
					strong Цена:
					.filters__price
						.filters__price-block
							label(for="from") От
							input(type="number", placeholder="1500")
						.filters__price-block
							label(for="from") До
							input(type="number", placeholder="58 000")
				.filters__item.filters__item--active-cat
					.filters__cat
						span!='Односпальные<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10.344" height="10.344" viewBox="0 0 10.344 10.344"><path d="M6.274,5.165 L10.081,8.974 C10.393,9.286 10.393,9.791 10.081,10.103 C9.925,10.259 9.721,10.337 9.517,10.337 C9.312,10.337 9.108,10.259 8.952,10.103 L5.146,6.294 L1.339,10.103 C1.184,10.259 0.979,10.337 0.775,10.337 C0.571,10.337 0.366,10.259 0.210,10.103 C-0.101,9.791 -0.101,9.286 0.210,8.974 L4.017,5.165 L0.210,1.356 C-0.101,1.044 -0.101,0.539 0.210,0.227 C0.522,-0.085 1.028,-0.085 1.339,0.227 L5.146,4.036 L8.952,0.227 C9.264,-0.085 9.769,-0.085 10.081,0.227 C10.393,0.539 10.393,1.044 10.081,1.356 L6.274,5.165 Z" class="cls-1"/></svg>'
						.cat-drop
							.cat-drop__inner
								ul
									li
										input(type="checkbox", id="type1")
										label(for="type1") Односпальные
									li
										input(type="checkbox", id="type2", checked)
										label(for="type2") Двуспальные
									li
										input(type="checkbox", id="type3")
										label(for="type3") Двухъярусные
				.filters__item.filters__item--cat
					.filters__cat
						a(href="#")!='Размер<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="5.938" viewBox="0 0 10 5.938"><path d="M9.642,1.790 L6.092,5.036 C6.056,5.251 5.968,5.461 5.787,5.627 C5.335,6.040 4.602,6.040 4.150,5.627 L0.333,2.135 C-0.119,1.722 -0.119,1.052 0.333,0.639 C0.784,0.226 1.517,0.226 1.969,0.639 L4.792,3.221 L7.999,0.288 C8.453,-0.127 9.188,-0.127 9.642,0.288 C10.095,0.702 10.095,1.375 9.642,1.790 Z" class="cls-1"/></svg>'
						.cat-drop
							.cat-drop__inner
								ul
									li
										input(type="checkbox", id="type1")
										label(for="type1") Односпальные
									li
										input(type="checkbox", id="type2", checked)
										label(for="type2") Двуспальные
									li
										input(type="checkbox", id="type3")
										label(for="type3") Двухъярусные
							.cat-drop__sub
								input(type="submit", value="Применить")
				.filters__item.filters__item--cat
					.filters__cat
						a(href="#")!='Материал<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="5.938" viewBox="0 0 10 5.938"><path d="M9.642,1.790 L6.092,5.036 C6.056,5.251 5.968,5.461 5.787,5.627 C5.335,6.040 4.602,6.040 4.150,5.627 L0.333,2.135 C-0.119,1.722 -0.119,1.052 0.333,0.639 C0.784,0.226 1.517,0.226 1.969,0.639 L4.792,3.221 L7.999,0.288 C8.453,-0.127 9.188,-0.127 9.642,0.288 C10.095,0.702 10.095,1.375 9.642,1.790 Z" class="cls-1"/></svg>'
						.cat-drop
							.cat-drop__inner
								ul
									li
										input(type="checkbox", id="type4")
										label(for="type4") Замша
									li
										input(type="checkbox", id="type5")
										label(for="type5") Кожа
							.cat-drop__sub
								input(type="submit", value="Применить")
				.filters__item.filters__item--cat
					.filters__cat
						a(href="#")!='Цвет<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="5.938" viewBox="0 0 10 5.938"><path d="M9.642,1.790 L6.092,5.036 C6.056,5.251 5.968,5.461 5.787,5.627 C5.335,6.040 4.602,6.040 4.150,5.627 L0.333,2.135 C-0.119,1.722 -0.119,1.052 0.333,0.639 C0.784,0.226 1.517,0.226 1.969,0.639 L4.792,3.221 L7.999,0.288 C8.453,-0.127 9.188,-0.127 9.642,0.288 C10.095,0.702 10.095,1.375 9.642,1.790 Z" class="cls-1"/></svg>'
						.cat-drop
							.cat-drop__inner
								ul
									li
										input(type="checkbox", id="type6")
										label(for="type6") Черный
									li
										input(type="checkbox", id="type7")
										label(for="type7") Красный
							.cat-drop__sub
								input(type="submit", value="Применить")
				.filters__item.filters__item--cat
					.filters__cat
						a(href="#")!='Изготовитель<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10" height="5.938" viewBox="0 0 10 5.938"><path d="M9.642,1.790 L6.092,5.036 C6.056,5.251 5.968,5.461 5.787,5.627 C5.335,6.040 4.602,6.040 4.150,5.627 L0.333,2.135 C-0.119,1.722 -0.119,1.052 0.333,0.639 C0.784,0.226 1.517,0.226 1.969,0.639 L4.792,3.221 L7.999,0.288 C8.453,-0.127 9.188,-0.127 9.642,0.288 C10.095,0.702 10.095,1.375 9.642,1.790 Z" class="cls-1"/></svg>'
						.cat-drop
							.cat-drop__inner
								ul
									li
										input(type="checkbox", id="type8")
										label(for="type8") Submarina
									li
										input(type="checkbox", id="type9")
										label(for="type9") Exec
							.cat-drop__sub
								input(type="submit", value="Применить")
				.filters__item.filters__item--clear
					.filters__clear
						a(href="#")!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="16" height="16" viewBox="0 0 16 16"><path d="M9.123,7.998 L15.758,14.635 C16.070,14.947 16.070,15.452 15.758,15.764 C15.602,15.920 15.398,15.998 15.194,15.998 C14.989,15.998 14.785,15.920 14.629,15.764 L7.994,9.127 L1.360,15.764 C1.204,15.920 0.999,15.998 0.795,15.998 C0.591,15.998 0.386,15.920 0.231,15.764 C-0.081,15.452 -0.081,14.947 0.231,14.635 L6.866,7.998 L0.231,1.361 C-0.081,1.049 -0.081,0.544 0.231,0.232 C0.542,-0.080 1.048,-0.080 1.360,0.232 L7.994,6.869 L14.629,0.232 C14.941,-0.080 15.446,-0.080 15.758,0.232 C16.070,0.544 16.070,1.049 15.758,1.361 L9.123,7.998 Z" class="cls-1"/></svg>Сбросить'
section.fil-mob-buttons
	.container
		.row
			.col-12
				a.mobile-open-filters(href="#") Фильтры
				a.mobile-open-sort(href="#") Сортировка
section.filters-bottom
	.container
		.row
			.col-12
				.filters-bottom__result Найдено: 28
				.filters-bottom__sort
					span Сначала показывать:
					a(href="#").active Популярные
					a(href="#") Дорогие
					a(href="#") Дешевые
section.filters-mob
	.container
		.row
			.col-12
				.filters-mob__tags
					a(href="#")!='Односпальные<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10.35" height="10.344" viewBox="0 0 10.35 10.344"><path d="M6.278,5.165 L10.085,8.974 C10.397,9.286 10.397,9.791 10.085,10.103 C9.929,10.259 9.725,10.337 9.520,10.337 C9.316,10.337 9.112,10.259 8.956,10.103 L5.150,6.294 L1.343,10.103 C1.187,10.259 0.983,10.337 0.779,10.337 C0.575,10.337 0.370,10.259 0.214,10.103 C-0.098,9.791 -0.098,9.286 0.214,8.974 L4.021,5.165 L0.214,1.356 C-0.098,1.044 -0.098,0.539 0.214,0.227 C0.526,-0.085 1.032,-0.085 1.343,0.227 L5.150,4.035 L8.956,0.227 C9.268,-0.085 9.773,-0.085 10.085,0.227 C10.397,0.539 10.397,1.044 10.085,1.356 L6.278,5.165 Z" class="cls-1"/></svg>'
					a(href="#")!='Малиновый<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10.35" height="10.344" viewBox="0 0 10.35 10.344"><path d="M6.278,5.165 L10.085,8.974 C10.397,9.286 10.397,9.791 10.085,10.103 C9.929,10.259 9.725,10.337 9.520,10.337 C9.316,10.337 9.112,10.259 8.956,10.103 L5.150,6.294 L1.343,10.103 C1.187,10.259 0.983,10.337 0.779,10.337 C0.575,10.337 0.370,10.259 0.214,10.103 C-0.098,9.791 -0.098,9.286 0.214,8.974 L4.021,5.165 L0.214,1.356 C-0.098,1.044 -0.098,0.539 0.214,0.227 C0.526,-0.085 1.032,-0.085 1.343,0.227 L5.150,4.035 L8.956,0.227 C9.268,-0.085 9.773,-0.085 10.085,0.227 C10.397,0.539 10.397,1.044 10.085,1.356 L6.278,5.165 Z" class="cls-1"/></svg>'
					a(href="#")!='От 1500 ло 58 000 р<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="10.35" height="10.344" viewBox="0 0 10.35 10.344"><path d="M6.278,5.165 L10.085,8.974 C10.397,9.286 10.397,9.791 10.085,10.103 C9.929,10.259 9.725,10.337 9.520,10.337 C9.316,10.337 9.112,10.259 8.956,10.103 L5.150,6.294 L1.343,10.103 C1.187,10.259 0.983,10.337 0.779,10.337 C0.575,10.337 0.370,10.259 0.214,10.103 C-0.098,9.791 -0.098,9.286 0.214,8.974 L4.021,5.165 L0.214,1.356 C-0.098,1.044 -0.098,0.539 0.214,0.227 C0.526,-0.085 1.032,-0.085 1.343,0.227 L5.150,4.035 L8.956,0.227 C9.268,-0.085 9.773,-0.085 10.085,0.227 C10.397,0.539 10.397,1.044 10.085,1.356 L6.278,5.165 Z" class="cls-1"/></svg>'
section.fil-mob-sort
	.container
		.row
			.col-12
				.fil-mob-sort__title
					span Сортировка
					a(href="#")!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="14.72" height="14.719" viewBox="0 0 14.72 14.719"><path d="M8.754,7.344 L14.411,13.000 C14.801,13.391 14.801,14.024 14.411,14.415 C14.020,14.806 13.387,14.806 12.997,14.415 L7.340,8.758 L1.683,14.415 C1.292,14.806 0.659,14.806 0.269,14.415 C-0.122,14.024 -0.122,13.391 0.269,13.000 L5.926,7.344 L0.269,1.687 C-0.122,1.297 -0.122,0.663 0.269,0.273 C0.659,-0.118 1.292,-0.118 1.683,0.273 L7.340,5.929 L12.997,0.273 C13.387,-0.118 14.020,-0.118 14.411,0.273 C14.801,0.663 14.801,1.297 14.411,1.687 L8.754,7.344 Z" class="cls-1"/></svg>'
				.fil-mob-sort__body
					a.current(href="#") Популярные
					a(href="#") Дешевые
					a(href="#") Дорогие