section.about
	.container
		.row
			.col-2
				.about__item
					.about__img
						img(src="assets/images/about-icon-1.svg", alt="")
					.about__text 10 лет на рынке
			.col-2
				.about__item
					.about__img
						img(src="assets/images/about-icon-2.svg", alt="")
					.about__text Только экологическая мебель
			.col-2
				.about__item
					.about__img
						img(src="assets/images/about-icon-3.svg", alt="")
					.about__text Любые способы оплаты
			.col-2
				.about__item
					.about__img
						img(src="assets/images/about-icon-4.svg", alt="")
					.about__text Низкая цена
			.col-2
				.about__item
					.about__img
						img(src="assets/images/about-icon-5.svg", alt="")
					.about__text Быстрая доставка
			.col-2
				.about__item
					.about__img
						img(src="assets/images/about-icon-6.svg", alt="")
					.about__text Первоклассный сервис
		.row
			.col-12
				h2 Mebeluka.ru — это качественная, экологичная <br/>и красивая мебель по доступным ценам
				.about__desk В магазине mebeluka.ru вы найдете лучшие образцы мебели и предметы интерьера из Малазии, США, Китая, стран Юго-Восточной Азии, России и Европы. Так же всегда в наличии мебель из массива твердых пород дерева — гевеи, березы или более дорогих пород дерева. Мы знаем, какой экокласс должна иметь мебель из ДСП, чтобы быть безопасной и удобной и только такую мы предлагаем нашим покупателям. Вы можете приехать к нам и выбрать мебель в магазине. А доставку и сборку мы берем на себя. Оплатить заказ можно любым удобным для вас способом. Mebeluka.ru более 10 лет занимается мебелью и знает в ней толк. Мы сами покупаем ее себе домой. Mebeluka.ru — это история хорошей мебели.Желаем приятных покупок!