section.home-cats-top
	.container
		.row
			.col-12
				a.home-cats-top__item(href="#")
					img(src="assets/images/home-cat-1.jpg", alt="")
					.home-cats-top__title Мебель под заказ
				a.home-cats-top__item(href="#")
					img(src="assets/images/home-cat-2.jpg", alt="")
					.home-cats-top__title Наш шоурум в Москве
				a.home-cats-top__item(href="#")
					img(src="assets/images/home-cat-3.jpg", alt="")
					.home-cats-top__title Акции и распродажа
section.block-title
	.container
		.row
			.col-12
				h3 Специальные предложения
section.home-cats
	.container
		.row
			.col-8
				.home-cats__item(style="background-image: url(assets/images/cat-img-1.jpg);")
					.home-cats__title
						b Гостинная
						span Мебель для обустройства гостинной
					a.home-cats__button(href="#") Смотреть гостинные
			.col-4
				.home-cats__item(style="background-image: url(assets/images/cat-img-2.jpg);")
					.home-cats__title
						b Предметы интерьера
						span Светильники, зеркала, подставки
					a.home-cats__button(href="#") Смотреть всё для интерьера
		.row
			.col-4
				.home-cats__item(style="background-image: url(assets/images/cat-img-3.jpg);")
					.home-cats__title
						b Гостиницы<br/> и рестораны
						span Мебель для гостиниц<br/> и ресторанов
					a.home-cats__button(href="#") Смотреть предложения
			.col-8
				.home-cats__item(style="background-image: url(assets/images/cat-img-4.jpg);")
					.home-cats__title
						b Кухни
						span Мечта любой хозяйки
					a.home-cats__button(href="#") Смотреть кухни
		.row
			.col-8
				.home-cats__item.home-cats__item--last(style="background-image: url(assets/images/cat-img-5.jpg);")
					.home-cats__title
						b Спальня
						span Всё для крепкого и комфортного сна
					a.home-cats__button(href="#") Смотреть спальни
			.col-4
				.home-cats__item.home-cats__item--last(style="background-image: url(assets/images/cat-img-6.jpg);")
					.home-cats__title
						b Дача и сад
						span Мебель для дачи и сада
					a.home-cats__button(href="#") Смотреть мебель на дачу