section.block-title.block-title--instagram
	.container
		.row
			.col-12
				h3 Последние поступления
section.instagram-posts
	.container
		.row
			.col-12
				.instagram-posts__body
					.instagram-posts__prev
					.instagram-posts__next
					.instagram-posts__slider.owl-carousel
						.instagram-posts__item
							a(href="#")
								img(src="assets/images/content/insta-1.jpg", alt="")
						.instagram-posts__item
							a(href="#")
								img(src="assets/images/content/insta-2.jpg", alt="")
						.instagram-posts__item
							a(href="#")
								img(src="assets/images/content/insta-3.jpg", alt="")
						.instagram-posts__item
							a(href="#")
								img(src="assets/images/content/insta-4.jpg", alt="")