.mobile-menu-wrapper
	ul.mobile-menu.mobile-menu_mainmenu
		li.mobile-menu__item
			a(href="#").mobile-menu__link Гостинная
		li.mobile-menu__item.mobile-menu__item_parent
			a(href="#").mobile-menu__link Спальня
			ul.mobile-menu__submenu
				li.mobile-menu__submenu-item
					a(href="#").mobile-menu__submenu-link Спальня 1
				li.mobile-menu__submenu-item
					a(href="#").mobile-menu__submenu-link Спальня 2
				li.mobile-menu__submenu-item
					a(href="#").mobile-menu__submenu-link Спальня 3
		li.mobile-menu__item
			a(href="#").mobile-menu__link Прихожая
		li.mobile-menu__item
			a(href="#").mobile-menu__link Кухня
		li.mobile-menu__item
			a(href="#").mobile-menu__link Детская
		li.mobile-menu__item
			a(href="#").mobile-menu__link Предметы интерьера
		li.mobile-menu__item
			a(href="#").mobile-menu__link Дача и сад
		li.mobile-menu__item
			a(href="#").mobile-menu__link Гостиницы и Рестораны
	ul.mobile-menu.mobile-menu_secondary-menu
		li.mobile-menu__item
			a(href="#").mobile-menu__link О магазине
		li.mobile-menu__item
			a(href="#").mobile-menu__link Доставка
		li.mobile-menu__item
			a(href="#").mobile-menu__link Сборка
		li.mobile-menu__item
			a(href="#").mobile-menu__link Контакты
		li.mobile-menu__item
			a(href="#").mobile-menu__link Как сделать заказ