.payment-options
	.row
		.col-12
			h2.payment-options__title Варианты оплаты:
			.payment-options__wrapper
				.payment-options__content.row
					.col-6.col-md-12.payment-options__left
						.payment-options__item.payment-options__item_cashless-payments
							.payment-options__item-img
								img(src="assets/images/content/cashless_payments.png")
							h3.payment-options__item-title Безналичный расчет
						.payment-options__item
							.payment-options__item-img
								img(src="assets/images/content/card_payment.png")
							h3.payment-options__item-title!= 'Оплата картой или <br>наличными в магазине'
							.payment-options__item-text!= '(ТЦ Никольский парк, Носовихинское шоссе, <br>владение 4)'
					.col-6.col-md-12.payment-options__right
						.payment-options__item.payment-options__item_payment-from-site
							.payment-options__item-img
								img(src="assets/images/content/payment_on_the_site.png")
							h3.payment-options__item-title Оплата на сайте
							.payment-options__item-text!= '(яденьги, альфа клик, сбербанк онлайн и.т.д.) (на адрес <br>электронной почты высылается ссылка для перехода к оплате)'
						.payment-options__item.payment-options__item_cash-payment
							.payment-options__item-img
								img(src="assets/images/content/cash_payment.png")
							h3.payment-options__item-title!= 'Оплата наличными при <br>получении товара*'
				.row
					.col-12
						.payment-options__note *Скидки не распространяются на акционные товары, и товары из раздела распродаж.