.product-description
	ul.product-characteristics
		li.product-characteristics__item.product-characteristics__item_availability.row
			.col-4.col-lg-8.col-md-6.col-sm-5.product-characteristics__name Наличие:
			.col-8.col-lg-4.col-md-6.col-sm-7.product-characteristics__value Есть в наличии на складе
		li.product-characteristics__item.row
			.col-4.col-lg-8.col-md-6.col-sm-5.product-characteristics__name Артикул:
			.col-8.col-lg-4.col-md-6.col-sm-7.product-characteristics__value Глэдис-РБ P-8580-0
		li.product-characteristics__item.row
			.col-4.col-lg-8.col-md-6.col-sm-5.product-characteristics__name Материал:
			.col-8.col-lg-4.col-md-6.col-sm-7.product-characteristics__value!= 'Массив гевеи, &nbsp;Металл'
		li.product-characteristics__item.row
			.col-4.col-lg-8.col-md-6.col-sm-5.product-characteristics__name Цвет:
			.col-8.col-lg-4.col-md-6.col-sm-7.product-characteristics__value Тёмный орех
		li.product-characteristics__item.row
			.col-4.col-lg-8.col-md-6.col-sm-5.product-characteristics__name Производство:
			.col-8.col-lg-4.col-md-6.col-sm-7.product-characteristics__value Малайзия
		li.product-characteristics__item.product-characteristics__item_goods-parameter.row
			.col-4.col-lg-8.col-md-6.col-sm-5.product-characteristics__name Спальное место:
			.col-8.col-lg-4.col-md-6.col-sm-7.product-characteristics__value
				select(name="parameter_selection").product-characteristics__select
					option(value="1") 90х200 см.
					option(value="1") 90х200 см.
					option(value="1") 90х200 см.
					option(value="1") 90х200 см.
					option(value="1") 90х200 см.
	.product-description__price-and-buttons
		.row
			.product-description__price.left 120 350 ₽
			.product-description__buttons.right
				a(href="#").btn-ghost-orange.product-description__buy Купить в 1 клик
				a(href="#").btn-orange.product-description__add-to-cart В корзину