.product-delivery
	h2.product-delivery__title Доставка и оплата
	ul.product-delivery__list
		li.product-delivery__list-item!= 'В наличии в <a href="#">шоу-руме</a> в Москве'
		li.product-delivery__list-item!= 'Доставка по Москве 500₽'
		li.product-delivery__list-item!= 'Доставка за МКАД - +25руб/км.'
		li.product-delivery__list-item!= 'Нужна доставка по России? <a href="#">Подробнее</a>'