.product-photo.right.product__product-photo#ninja-slider
	.slider-inner
		ul
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb
			li
				a(href="assets/images/content/product_photo.png").ns-img.thumb