.product-thumbnails.left.product__product-thumbnails#thumbnail-slider
	.inner
		ul
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb
			li
				a(href="assets/images/content/product_photo.png").thumb