section.block-title
	.container
		.row
			.col-12
				h3 С этим товаром покупают
section.instagram-posts.goods.goods_related-products
	.container
		.row
			.col-12
				.instagram-posts__body
					.instagram-posts__prev
					.instagram-posts__next
					.instagram-posts__slider.owl-carousel
						.instagram-posts__item.goods__item
							.goods__img
								a(href="#")
									img(src="assets/images/content/related_products1.png", alt="")
							.goods__category Одеяла и подушки
							h3.goods__name Пуховое одеяло Монбельяр
							.goods__price 15 000 ₽
						.instagram-posts__item.goods__item
							.goods__img
								a(href="#")
									img(src="assets/images/content/related_products2.png", alt="")
							.goods__category Зеркала
							h3.goods__name Настенное зеркало 5100-ЕФ
							.goods__price 8 000 ₽
						.instagram-posts__item.goods__item
							.goods__img
								a(href="#")
									img(src="assets/images/content/related_products3.png", alt="")
							.goods__category Прикроватные тумбы
							h3.goods__name Прикроватная тумба ТЯ 4013
							.goods__price 12 350 ₽
						.instagram-posts__item.goods__item
							.goods__img
								a(href="#")
									img(src="assets/images/content/related_products4.png", alt="")
							.goods__category Туалетные столики
							h3.goods__name Стол туалетный solo-033
							.goods__price 10 000 ₽