.requisites
	h2.requisites__title Реквизиты
	ul.requisites__list
		li.requisites__item ООО ‘’МЕБЕЛЮКА’’
		li.requisites__item!= 'ИНН: 7720579218 &nbsp;&nbsp;КПП: 772001001'
		li.requisites__item ПАО ‘’БИНБАНК’’, г Москва
		li.requisites__item БИК 044525205
		li.requisites__item к/с 30101810200000000205
		li.requisites__item Тел. (495) 225-99-18