.review
	.review__rating
		include rating
	h3.review__title Отличная кровать!
	.review__text!= '<p>Ооочень сложно покупать кровать в интернете, визуально кажется неустойчивой. Хотел именно из массива. Было множество вопросов, но когда собрал кровать они отпали. Не скрипит, стоит крепко.</p>'
	.review__info
		.review__author Валентин
		.review__date 18.11.2016