section.pagination
	.container
		.row
			.col-12
				a.pagination__item(href="#") Первая
				a.pagination__item(href="#").pagination__item--arrow!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="6" height="10" viewBox="0 0 6 10"><path d="M5.678,9.642 C5.259,10.095 4.579,10.095 4.160,9.642 L0.880,6.092 C0.662,6.056 0.450,5.968 0.283,5.787 C-0.135,5.335 -0.135,4.602 0.283,4.150 L3.811,0.332 C4.228,-0.119 4.905,-0.119 5.323,0.332 C5.741,0.784 5.741,1.517 5.323,1.969 L2.714,4.792 L5.678,7.999 C6.097,8.453 6.097,9.188 5.678,9.642 Z" class="cls-1"/></svg>'
				a.pagination__item(href="#") 1
				a.pagination__item(href="#") 2
				a.pagination__item(href="#") 3
				a.pagination__item(href="#") 4
				a.pagination__item(href="#") 5
				a.pagination__item(href="#") 6
				a.pagination__item(href="#").pagination__item--arrow!='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="6" height="10" viewBox="0 0 6 10"><path d="M5.687,5.819 L2.159,9.637 C1.741,10.089 1.064,10.089 0.647,9.637 C0.229,9.185 0.229,8.453 0.647,8.001 L3.256,5.178 L0.292,1.971 C-0.127,1.517 -0.127,0.781 0.292,0.328 C0.711,-0.126 1.391,-0.126 1.810,0.328 L5.090,3.878 C5.308,3.914 5.519,4.002 5.687,4.183 C6.104,4.635 6.104,5.368 5.687,5.819 Z" class="cls-1"/></svg>'
				a.pagination__item(href="#") Последняя