section.user
	.user__nav
		.container
			.row
				.col-12
					a.user__nav-item(href="user-personal.html") Личные данные
					a.user__nav-item(href="user-fav.html") Избранное
					a.user__nav-item.user__nav-item--current(href="user-history.html") История заказов
					a.user__nav-exit(href="#") Выйти
	.user__history
		.container
			.row
				.col-12
					.user__history-names
						span Наименование товара
						span Цена
						span Кол-во
						span Дата
			.row
				.col-12
					.user__history-item
						.user__history-img
							img(src="assets/images/content/cart-img.jpg", alt="")
						.user__history-cont
							span
								a(href="#") Двуспальная кровать Глэдис-РБ
							span 8580 ₽
							span 1
							span 11.02.2016
					.user__history-item
						.user__history-img
							img(src="assets/images/content/cart-img.jpg", alt="")
						.user__history-cont
							span
								a(href="#") Двуспальная кровать Глэдис-РБ
							span 8580 ₽
							span 1
							span 11.02.2016