section.user
	.user__nav
		.container
			.row
				.col-12
					a.user__nav-item.user__nav-item--current(href="user-personal.html") Личные данные
					a.user__nav-item(href="user-fav.html") Избранное
					a.user__nav-item(href="user-history.html") История заказов
					a.user__nav-exit(href="#") Выйти
	.user__form
		.container
			.row
				.col-12
					.user__form-body
						form(action="")
							.user__form-group
								.user__form-text
									label(for="e-name") Ваше имя
								.user__form-input
									input(type="text", value="Иван Иванов", name="e-phone", id="e-name")
							.user__form-group
								.user__form-text
									label(for="e-phone") Контактный телефон
								.user__form-input
									input(type="tel", value="+398484883484", name="e-phone", id="e-phone")
							.user__form-group
								.user__form-text
									label(for="e-email") E-mail
								.user__form-input
									input(type="email", value="ivan@mail.ru", name="e-email", id="e-email")
							.user__form-group
								.user__form-text
									label(for="e-addr") Адрес доставки
								.user__form-input
									input(type="text", value="г. Москва, ул. Гоголя, 35", name="e-addr", id="e-addr")
							.user__form-group
								.user__form-input
									input(type="submit", value="Сохранить изменения")
