section.user
	.user__nav
		.container
			.row
				.col-12
					a.user__nav-item(href="user-personal.html") Личные данные
					a.user__nav-item.user__nav-item--current(href="user-fav.html") Избранное
					a.user__nav-item(href="user-history.html") История заказов
					a.user__nav-exit(href="#") Выйти
section.shop-items
	.container
		.row.shop-items__body
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-1.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-2.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Односпальная кровать 126-PS
					.shop-items__price!='15 000 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-2.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-1.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Двуспальная кровать 126-PS
					.shop-items__price!='8 000 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-2.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-4.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Двуспальная кровать СЕЛИН-РБ
					.shop-items__price!='12 350 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-4.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-1.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Двуспальная кровать 802-02
					.shop-items__price!='58 000 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-1.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-2.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Односпальная кровать 126-PS
					.shop-items__price!='15 000 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-2.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-1.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Двуспальная кровать 126-PS
					.shop-items__price!='8 000 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-2.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-4.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Двуспальная кровать СЕЛИН-РБ
					.shop-items__price!='12 350 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить
			.col-3
				.shop-items__item
					.shop-items__img
						img(src="assets/images/content/shop-item-4.jpg", alt="").item-img-1
						img(src="assets/images/content/shop-item-3.jpg", alt="").item-img-2.img-hide
						img(src="assets/images/content/shop-item-1.jpg", alt="").item-img-3.img-hide
						a.img-change(href="#")
							.img-change__num(data-img="item-img-1").img-change__num--active
							.img-change__num(data-img="item-img-2")
							.img-change__num(data-img="item-img-3")
					.shop-items__cat Кровати
					a(href="#").shop-items__title Двуспальная кровать 802-02
					.shop-items__price!='58 000 ₽<span class="fav-prd" title="Удалить из избранного"><img src="assets/images/fav-icon.svg"></span>'
					.shop-items__hide
						.shop-items__charact Размер: 160*200
						.shop-items__charact Материал: массив гевеи, металл
						.shop-items__charact Производство: Малайзия
						.shop-items__buy
							a(href="#") Купить