.write-review
	.row
		.col-12
			h2.write-review__title Написать отзыв
	.row
		.col-5.write-review__product
			.write-review__product-photo
				img(src="assets/images/content/double_bed.png" alt="Двуспальная кровать 126-PS")
			h4.write-review__product-name Двуспальная кровать 126-PS
			.write-review__explanatory-text!= '<p>Опишите плюсы и минусы товара и общие впечатления от него;</p><p>Отзывы публикуются после модерации, поэтому появляются на сайте не сразу.</p>'
		form.col-7.write-review__form
			h3.write-review__form-title Ваша оценка
			.write-review__rating
				include rating
			.write-review__form-wrapper
				.write-review__form-item
					label(for="review_title").write-review__form-label Заголовок
					input(type="text" name="review_title" id="review_title").write-review__form-text
				.write-review__form-item
					label(for="review_text").write-review__form-label Отзыв
					textarea(name="review_text" id="review_text").write-review__form-textarea
				.write-review__form-item
					label(for="your_name").write-review__form-label Ваше имя
					input(type="text" name="your_name" id="your_name").write-review__form-text
				.write-review__form-item
					label(for="your_email").write-review__form-label Ваша e-mail
					input(type="text" name="your_email" id="your_email").write-review__form-text
			.write-review__form-actions
				input(type="submit" value="Отправить отзыв").write-review__form-submit.btn-orange