extends ../layout/base

append config
	- var pageTitle = 'Корзина'

block content
	main.page-info
		include ../components/breadcrumbs
		section.title
			div.container
				.row
					.col-12
						a.title__back(href="#")
							img(src="assets/images/back-icon.svg", alt="Назад")
						h1 Корзина
		include ../components/cart