extends ../layout/base

append config
	- var pageTitle = 'Каталог'

block content
	main.page-shop
		include ../components/breadcrumbs
		section.title.title--catalog
			div.container
				.row
					.col-12
						.title__catalog Фильтры
						h1!='Кровати<span>(28)</span>'
						.catalog-mobile-sort Сначала:
							span Популярные
								.catalog-mobile-sort__drop
									a(href="#") Дорогие
									a(href="#") Дешевые
		include ../components/filters
		include ../components/shop-items
		include ../components/shop-pagination
		include ../components/bottom-text
		include ../components/fav