extends ../layout/base

append config
	- var pageTitle = 'Контакты'

block content
	main.main-content
		include ../components/breadcrumbs
		.article.article_page-contacts
			.container
				.row
					.col-12
						.title-wrapper.title-wrapper_page-contacts
							.row
								h1.article__title.title-wrapper__title.left Контакты
								a(href="javaScript:window.print();").print-doc.title-wrapper__print-doc.right Распечатать
				.row
					.col-6.right.article__contact-information
						include ../components/contact-information
					.col-6.left.article__requisites
						include ../components/requisites
			include ../components/store-address
			.container
				.row
					.col-12
						include ../components/alert