.about
	padding-top: 95px
	&__item
		text-align: center
		user-select: none
	&__img
		height: 80px
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
		margin-bottom: 25px
	&__text
		font-size: 20px
		color: $black
		line-height: 26px
	h2
		font-size: 48px
		line-height: 58px
		color: $black
		font-weight: 400
		letter-spacing: 0em
		margin-top: 65px
		margin-bottom: 30px
	&__desk
		font-size: 16px
		color: $color-2
		line-height: 24px
		letter-spacing: 0.026em