// Alert
.alert
	position: relative
	padding: 25px 0 23px
	border-top: 1px solid $color-1
	border-bottom: 1px solid $color-1
	&--delivery
		margin-top: 70px
		border-bottom: 0px
		padding-bottom: 0px
	
	&:before
		content: ""
		position: absolute
		top: -30px
		left: 0
		width: 30px
		height: 31px
		background: #fff url('../images/icons/icon_alert.png') 0 0 no-repeat
	
	&__text
		padding: 0
		color: $black
		font-size: 16px
		line-height: 24px