// Article
.article
	p, a
		font-size: 16px
		line-height: 24px
	
	.print-doc
		display: inline-block
		padding-left: 29px
		background: url('../images/icons/icon_print.png') 0 0 no-repeat
		color: $color-2
		font-size: 14px
		line-height: 18px
	
	+maxw(1240px)
		padding-top: 40px
		
	&__title
		margin-bottom: 35px
		
		+maxw(768px)
			font-size: 42px
		
		+maxw(480px)
			font-size: 36px
	
	&__text
		h3
			margin-bottom: 18px
		
		&_additional-information
			h2
				margin: 13px 0 20px
			
			p
				margin-bottom: 24px
				
				&:last-child
					margin-bottom: 0
	
	&__contact-information
		+minmaxw(769px, 992px)
			padding-left: 0
		
		+maxw(768px)
			margin-bottom: 30px
	
	&__contact-information, &__requisites
		+maxw(768px)
			float: none
			width: auto