.breadcrumbs
	padding: 50px 0 40px
	
	+maxw(1240px)
		display: none
		
	&__item, &__current
		float: left
		a
			display: inline-block
			font-size: 14px
			color: $color-2
			padding: 9px 10px 7px
			border: 1px solid $border-2
			border-radius: 3px
			&:hover
				border-color: $color-hover-2
	&__current
		a
			border-color: transparent
			padding: 9px 0px 7px
			&:hover
				border-color: transparent
	&__arrow
		float: left
		width: 25px
		height: 32px
		position: relative
		&:before
			content: ''
			width: 5px
			height: 10px
			background: url('../images/arrow-right-icon.svg') no-repeat
			position: absolute
			top: 50%
			left: 50%
			margin-top: -5px
			margin-left: -2px