.cart
.cart-products
	&__item
		margin-bottom: 20px
		&:after
			content: ''
			display: block
			clear: both
	&__item-img
		float: left
		width: 14%
	&__item-content
		float: right
		width: 84.7%
		background: #f5f5f5
.product-table
	&__item
		font-size: 14px
		color: $black
		display: block
		float: left
		span
			&:first-child
				display: block
				padding: 20px 30px
				border-bottom: 1px solid $border-1
			&:last-child
				display: block
				display: flex
				flex-wrap: wrap
				flex-direction: row
				align-items: center
				padding: 20px 30px
				min-height: 48px
		&:nth-child(1)
			width: 63%
			a
				font-size: 26px
				color: $black
				&:hover
					color: $color-1
		&:nth-child(2)
			width: 12%
		&:nth-child(3)
			width: 12%
		&:nth-child(4)
			width: 13%
			span
				&:last-child
					color: $color-1
		input[type=text]
			box-sizing: border-box
			height: 50px
			width: 50px
			color: $black
			line-height: 50px
			border: 1px solid $border-1
			border-radius: 5px
			font-size: 16px
			padding: 0 5px
			background: $white
			box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
			text-align: center
			&:focus
				border-color: #c5c5c5
	&:after
		content: ''
		display: block
		clear: both


.cart-total
	margin-top: 25px
	border-top: 1px solid #c5c5c5
	border-bottom: 1px solid #c5c5c5
	padding: 25px 0
	font-size: 26px
	color: $black
	margin-bottom: 40px
	&__item
		float: left
		&:nth-child(3)
			float: right
			color: $color-1
		&:nth-child(2)
			float: right
			padding-left: 30px
			a
				color: $color-1
				border-bottom: 1px solid $color-1
				font-size: 16px
				position: relative
				top: -3px
	&:after
		content: ''
		display: block
		clear: both
.cart-contacts
	padding: 38px
	background: #f5f5f5
	&--sub
		background: $white
		padding: 0px
	&__title
		font-size: 26px
		color: $black
		line-height: 30px
		margin-bottom: 22px
	&__group
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0px
	input[type=tel], input[type=text], input[type=email], textarea
		box-sizing: border-box
		height: 50px
		width: 100%
		color: $color-2
		line-height: 50px
		border: 1px solid $border-1
		border-radius: 5px
		font-size: 14px
		padding: 0 15px
		background: $white
		box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
		&:focus
			border-color: #c5c5c5
	textarea
		padding: 15px
		height: 100px
		line-height: normal
	input[type=submit]
		box-sizing: border-box
		height: 50px
		width: 260px
		color: $white
		line-height: 48px
		border-radius: 5px
		font-size: 16px
		padding: 0 15px
		background: $color-1
		text-align: center
		font-weight: 500
		cursor: pointer
		border: 0px
		&:hover
			background: $color-hover
	label.input-lb
		display: block
		font-size: 14px
		color: $color-2
		margin-bottom: 12px
		padding-left: 3px
		span
			color: $color-1
	&__list
		margin-bottom: 12px
		&:after
			content: ''
			display: block
			clear: both
	&__list-item
		float: left
		width: 33.33%
		&:nth-child(2)
			width: 42%
		&:nth-child(3)
			width: 24%
		strong
			font-weight: 400
			font-size: 14px
			color: $color-2
			display: block
			margin-bottom: 18px
		input[type=radio]
			margin: 0
			padding: 0
			opacity: 0
			position: absolute
			& + label
				font-size: 14px
				color: $black
				padding-left: 32px
				position: relative
				cursor: pointer
				padding-top: 4px
				&:before
					content: ''
					position: absolute
					top: 0px
					left: 0px
					width: 20px
					height: 20px
					border-radius: 50%
					box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
					border: 1px solid #e5e5e5
					background: $white
					box-sizing: border-box
					z-index: 5
					@extend .transition
				&:after
					content: ''
					position: absolute
					width: 6px
					height: 6px
					top: 7px
					left: 7px
					border-radius: 50%
					background: $color-1
					z-index: 10
					display: none
					box-sizing: border-box
					@extend .transition
			&:checked 
				& + label:after
					display: block
				& + label:before
					box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
					border-color: #c5c5c5
			&:hover + label:before
				box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
				border-color: #c5c5c5

	&__list-group
		margin-bottom: 19px
		a
			font-size: 14px
			color: $color-1
			border-bottom: 1px solid $color-1
	&__sub
		margin-top: 30px