// Contacts onformation
.contact-information
	&__item
		padding: 10px 0 10px 58px
		line-height: 22px
		
		&_phones
			background: url('../images/icons/icon_phones.png') 0 0 no-repeat
		
		&_time
			margin-bottom: 29px
			background: url('../images/icons/icon_time.png') 0 0 no-repeat
		
		&_email
			padding-left: 62px
			background: url('../images/icons/icon_email.png') 0 0 no-repeat
	
	&__phone
		margin-bottom: 14px
	
	&__link
		color: $black
	
	&__phone-type
		color: $color-2