.catalog-mobile-sort, .fil-mob-buttons, .fil-mob-sort, .filters-mob
	display: none
.filters
	background: #f5f5f5
	min-height: 70px
	position: relative
	z-index: 15
	&__mob-title
		display: none
	&__price
		@extend .inline-block
	&__price-block
		@extend .inline-block
		label
			@extend .inline-block
			font-size: 14px
			color: $color-2
			padding: 28px 0
			padding-right: 5px
		input[type="number"]
			@extend .inline-block
			box-sizing: border-box
			height: 40px
			width: 100%
			max-width: 100px
			color: $color-2
			line-height: 40px
			border: 1px solid $border-1
			border-radius: 5px
			font-size: 14px
			padding: 0 8px
			background: $white
			box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
			margin-top: 15px
			&::-webkit-outer-spin-button,&::-webkit-inner-spin-button
		    -webkit-appearance: none
		    -moz-appearance: none
		    appearance: none
		    margin: 0
			&
				-moz-appearance: textfield
			&:focus
				border-color: #c5c5c5
		&:last-child
			padding-left: 5px
	&__cat
		a
			display: block
			font-size: 14px
			color: $black
			padding: 28px 39px 28px 28px
			svg
				@extend .transition
				position: relative
				left: 9px
				top: -1px
			&:hover, &.active-filter
				color: $color-1
				svg
					fill: $color-1
			&.active-filter
				svg
					transform: rotate(-180deg)
	&__clear
		a
			display: inline-block
			line-height: 70px
			font-size: 14px
			color: $color-2
			svg
				fill: $color-2
				margin-right: 10px
				position: relative
				top: 2px
				@extend .transition
			&:hover
				color: $color-1
				svg
					fill: $color-1
	&__item
		float: left
		position: relative
		strong
			@extend .inline-block
			font-size: 14px
			color: $black
			padding: 28px 0
			padding-right: 15px
		&:after
			content: ''
			position: absolute
			top: 0px
			right: 0px
			height: 100%
			width: 1px
			background: $white
		&--price
			padding-right: 31px
		&--active-cat
			padding: 18px 10px
		&--clear
			float: right
			&:after
				display: none
		&--active-cat
			span
				@extend .inline-block
				height: 34px
				line-height: 34px
				padding: 0 11px
				background: $color-2
				font-size: 14px
				color: $white
				border-radius: 6px
				cursor: pointer
				svg
					@extend .transition
					margin-left: 9px
					position: relative
					top: 1px
					left: 0px
					fill: $white
					&:hover
						fill: $color-1 !important
				&:hover
					color: $white
					svg
						fill: $white
.cat-drop
	position: absolute
	top: 70px
	left: 50%
	width: 365px
	margin-left: -182px
	box-shadow: 0px 30px 100px 0px rgba(0, 0, 0, 0.3)
	background: $white
	display: none
	&__inner
		padding: 29px 30px
		font-size: 14px
		color: $black
		position: relative
		ul
			li
				input[type=checkbox]
					margin: 0
					padding: 0
					opacity: 0
					position: absolute
					& + label
						position: relative
						cursor: pointer
						display: block
						margin-bottom: 15px
						padding: 7px 0
						padding-left: 38px
						&:before
							content: ''
							position: absolute
							top: 0px
							left: 0px
							display: inline-block
							width: 24px
							height: 24px
							background: $white
							border-radius: 3px
							border: 1px solid $border-2
							box-sizing: border-box
					&:checked + label:before
						box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
						border-color: #c5c5c5
						background: url('../images/true-icon.svg') no-repeat center center
				&:last-child
					label
						margin-bottom: 0px !important
		&:after
			content: ''
			position: absolute
			top: -11px
			left: 50%
			margin-left: -15px
			display: block
			width: 30px
			height: 30px
			background: $white
			transform: scale(1, 0.7) rotate(-45deg)
	&__sub
		padding: 28px
		border-top: 1px solid $border-2
		input[type=submit]
			height: 50px
			border: 1px solid $color-1
			background: transparent
			line-height: 49px
			border-radius: 5px
			padding: 0 35px
			font-size: 16px
			color: $color-1
			font-weight: 500
			cursor: pointer
			box-sizing: border-box
			display: block
			margin: 0 auto
			&:hover
				background: $color-1
				color: $white
.filters-bottom
	font-size: 14px
	color: $black
	padding-top: 28px
	&__result, &__sort
		float: left
	&__result
		margin-right: 30px
	&__sort
		a
			display: inline-block
			color: $color-2
			margin-left: 18px
			border-bottom: 1px solid transparent
			&:hover, &.active
				color: $black
				border-bottom: 1px solid $black