// Goods
.goods
	padding: 22px 0
	
	&__item
		+maxw(992px)
			margin-bottom: 20px
			
		+maxw(550px)
			min-height: 290px
			
		&_view-products
			width: 290px
			min-height: 200px
			max-width: 100%
			padding-top: 118px
			+box-sizing(border-box)
			background: #F5F5F5 url('../images/icons/icon_percent.png') center 58px no-repeat
			text-align: center
	
	&__title
		margin-bottom: 26px
		
		+maxw(480px)
			line-height: 1.2
	
	&__img
		margin-bottom: 20px
	
	&__category, &__name
		font-size: 14px
	
	&__category
		margin-bottom: 6px
		color: #7E7E7E
	
	&__name
		margin-bottom: 19px
		color: #252525
		text-indent: -2px
	
	&__starting-price
		margin-right: 12px
		color: $color-2
		font-size: 20px
		text-decoration: line-through
	
	&__price
		font-size: 26px
	
	&_about-store
		margin-bottom: 21px
	
	&_discounted
		.goods__starting-price, .goods__price
			display: inline-block
	
	&_about-store-second
		margin-bottom: 77px
		
		+maxw(992px)
			margin-bottom: 50px
		
		+maxw(768px)
			margin-bottom: 35px
		
		+maxw(480px)
			margin-bottom: 20px
	
	&_suitable-kit
		padding-bottom: 0
		
		.goods__title
			margin-bottom: 48px
			
			+maxw(768px)
				text-align: center
		
		.goods__item
			position: relative
			
			&:nth-child(2)
				+maxw(768px)
					padding-top: 100px
			
			&:nth-child(2):before
				content: "+"
				position: absolute
				top: 0
				bottom: -24px
				left: -85px
				height: 70px
				margin: auto
				color: $color-2
				font-weight: 200
				font-size: 100px
				line-height: 60px
				
				+minmaxw(1151px, 1240px)
					left: -65px
				
				+minmaxw(1061px, 1150px)
					left: -40px
				
				+minmaxw(993px, 1060px)
					left: -10px
					font-size: 74px
				
				+minmaxw(769px, 840px)
					left: -60px
				
				+maxw(768px)
					top: 20px
					right: 0
					left: 0
					margin: 0 auto
			
			&:last-child
				padding-top: 104px
				text-align: center
				
				+maxw(768px)
					padding-top: 150px
				
				.goods__price
					margin-bottom: 23px
					font-size: 48px
				
				.goods__btn-buy
					padding-right: 32px
					padding-left: 34px
				
				&:before
					content: "="
					position: absolute
					top: 0
					bottom: -105px
					left: -85px
					height: 70px
					margin: auto
					color: $color-2
					font-weight: 200
					font-size: 100px
					line-height: 60px
					
					+maxw(992px)
						left: 25%
					
					+maxw(768px)
						top: 35px
						left: 0
						right: 0
						margin: 0 auto
			
			+maxw(768px)
				text-align: center
		
		.goods__img
			img
				+maxw(768px)
					margin: 0 auto
	
	&_related-products
		padding: 0
		
		.instagram-posts__prev,
		.instagram-posts__next
			top: 33%
		
		.instagram-posts__prev
			left: -121px
		
		.goods__item
			+maxw(480px)
				text-align: center