.home-cats-top
	font-size: 0
	margin-top: 50px
	&__item
		@extend .inline-block
		width: 33.33%
		box-sizing: border-box
		border: 1px solid $color-3
		border-right: 0px
		position: relative
		text-align: center
		height: 250px
		&:last-child
			border-right: 1px solid $color-3
		img
			margin: 0 auto
		&:hover
			.home-cats-top__title
				color: $color-1
	&__title
		font-size: 26px
		color: $black
		text-align: center
		margin-top: 15px
		@extend .transition
.home-cats
	&__item
		width: 100%
		height: 480px
		background-size: cover
		background-position: center center
		display: flex
		flex-direction: column
		flex-wrap: wrap
		justify-content: center
		align-items: center
		position: relative
		margin-bottom: 40px
		&--last
			margin-bottom: 0px
	&__title
		margin-top: -48px
		padding: 0 20px
		b
			font-size: 48px
			font-weight: 400
			color: $white
			display: block
			text-align: center
			line-height: 52px
			margin-bottom: 15px
			text-shadow: 0px 4px 114px rgba(0, 0, 0, 0.6)
		span
			display: block
			font-size: 20px
			color: $white
			line-height: 24px
			text-shadow: 0px 4px 114px rgba(0, 0, 0, 0.6)
			text-align: center
	&__button
		display: inline-block
		padding: 16px 18px
		min-width: 220px
		color: $white
		background: $color-1
		font-size: 16px
		font-weight: 500
		max-width: 260px
		border-radius: 5px
		position: absolute
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0
		bottom: 60px
		text-align: center
		box-sizing: border-box
		&:hover
			background: $color-hover
			color: $white