.instagram-posts
	overflow: hidden
	&__body
		position: relative
	&__prev, &__next
		width: 52px
		height: 52px
		background: url('../images/arrow-icon.svg') no-repeat
		position: absolute
		top: 50%
		margin-top: -25px
		cursor: pointer
		z-index: 20
		@extend .transition
		opacity: 1
		&:hover
			opacity: 0.6
	&__prev
		left: -130px
	&__next
		right: -130px
		transform: rotate(180deg)

// owl
.owl-stage-outer
	overflow: visible !important
.owl-item
	opacity: 0.1
	+transition(0.3s ease-in-out)
	&.active
		opacity: 1
		+transition(0.5s ease-in-out)