.mainmenu
	height: 60px
	background: $color-1
	position: relative
	
	+minmaxw(571px, 1240px)
		height: 0
	
	+maxw(570px)
		display: block
		height: 40px
	
	&__mobile-phone
		margin-top: 13px
		margin-left: -6px
		padding-right: 20px
		color: inherit
		color: $white !important
		font-size: 14px
		background: url('../images/icons/mobile_phone_white.png') right center no-repeat
		z-index: 10
		+minw(571px)
			display: none
		a
			color: $white
		
		&_open
			background-image: url('../images/icons/mobile_phone_white_open.png')
	
	&__mobile-search, &__cart-mobile
		a
			display: inline-block
			height: 40px
			color: $white
			font-size: 16px
			display: block
			padding: 0 16px
			+transition(0.2s ease-in-out)
			&:hover
				color: $color-1
				background: $white
				
		+minw(571px)
			display: none
		
		+minw(571px)
			display: none
	
	&__mobile-search
		margin-right: -5px
		
		a
			svg
				fill: $white
				margin-top: 10px
				+transition(0.2s ease-in-out)
			&:hover
				svg
					fill: $color-hover
	
	&__cart-mobile
		margin-right: -10px
		
		a
			line-height: 0px
			padding-right: 12px
			padding-left: 20px
			position: relative
			svg
				width: 23px
				fill: $color-1
				fill: $white
				margin-top: 5px
			&:hover
				background: $color-1
	
	&__cart-mobile-num
		width: 15px
		height: 15px
		border-radius: 50%
		background: $color-2
		color: $white
		font-size: 10px
		font-weight: 500
		text-align: center
		line-height: 17px
		position: absolute
		top: 8px
		right: 4px
		
	&__inner
		position: relative
	&__left
		float: left
		font-size: 0
		margin-left: -20px
		+transition(0.3s ease-in-out)
		li
			@extend .inline-block
			& > a
				height: 60px
				line-height: 60px
				color: $white
				font-size: 16px
				display: block
				padding: 0 19px
				+transition(0.2s ease-in-out)
				&:hover
					color: $color-1
					background: $white
		
		+maxw(1240px)
			display: none
		
		+maxw(570px)
			display: none
			
	&__right
		float: right
		font-size: 0
		
		+maxw(570px)
			display: none
			
		li
			@extend .inline-block
			a
				height: 60px
				line-height: 60px
				color: $white
				font-size: 16px
				display: block
				padding: 0 16px
				+transition(0.2s ease-in-out)
				&:hover
					color: $color-1
					background: $white
			&.mainmenu__right-search
				a
					padding: 0 20px
					line-height: 0px
					svg
						fill: $white
						margin-top: 18px
						+transition(0.2s ease-in-out)
					&:hover
						svg
							fill: $color-1
			&.mainmenu__right-cart
				a
					line-height: 0px
					padding-right: 12px
					padding-left: 20px
					position: relative
					svg
						fill: $white
						margin-top: 15px
					&:hover
						background: $color-1
			&.mainmenu__right-search--active
				a
					background: $white
					svg
						fill: $color-1
		
		+maxw(1240px)
			display: none

	&__right-cart-num
		width: 19px
		height: 19px
		border-radius: 50%
		background: $color-2
		color: $white
		font-size: 12px
		font-weight: 500
		text-align: center
		line-height: 20px
		position: absolute
		top: 15px
		right: 1px
.dropdown
	a
		transition: 0.4s ease-in-out !important
	&--active
		& > a
			color: $color-1 !important
			background: $white !important

// submenu
.mainmenu-sub
	position: absolute
	top: 60px
	left: 0px
	width: 100%
	overflow: hidden
	display: none
	padding-bottom: 25px
	z-index: 15
	&__inner
		background: $white
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15)
	.col-3
		&:last-child
			position: relative
			background: #f5f5f5
			&:after
				content: ''
				width: 2000px
				height: 100%
				position: absolute
				left: -30px
				top: 0px
				background: #f5f5f5
				z-index: 10
	ul
		padding: 48px 0
		li
			display: block
			padding-bottom: 40px
			a
				padding-left: 42px
				font-size: 16px
				color: $black
				font-weight: 500
				height: auto
				line-height: 1.2em
				position: relative
				display: inline-block
				span
					position: absolute
					top: 0px
					left: 2px
					svg
						fill: $color-2
						+transition(0.2s ease-in-out)
				&:hover
					span
						svg
							fill: $color-1
			&:last-child
				padding-bottom: 0px

.top-last-product
	padding: 50px 0 30px
	display: block
	position: relative
	z-index: 20
	img
		width: 100%
	&__cat
		font-size: 14px
		color: #7e7e7e
		padding-top: 22px
		+transition(0.3s ease-in-out)
	&__title
		font-size: 14px
		color: $black
		padding-top: 8px
		line-height: 20px
		+transition(0.3s ease-in-out)
	&__price
		font-size: 26px
		color: $black
		padding-top: 25px
	&:hover
		.top-last-product__cat, .top-last-product__title
			color: $color-1 !important

.mainmenu__left 
	li
		&.logo-small
			background: #eb6000
			overflow: hidden
			visibility: hidden
			display: none
			opacity: 0
			+transition(0.4s ease-in-out)
			img
				position: relative
				top: -50px
				+transition(0.4s ease-in-out)
			a
				padding: 0 13px !important
				&:hover
					background: #eb6000


// sticky
.header--sticky
	.mainmenu
		position: fixed
		top: 0
		left: 0
		right: 0
	.top-line
		margin-bottom: 60px
	.mainmenu__left
		margin-left: 0px
		li
			&.logo-small
				display: inline-block
				visibility: visible
				opacity: 1
				img
					top: 21px