// Mobile-menu
.menu-toggle
	position: relative
	width: 40px
	height: 40px
	padding: 0
	border: none
	outline: none
	+border-radius(50%)
	background: $color-1
	cursor: pointer

	&:after
		content: ""
		position: absolute
		top: 19px
		right: 40px
		width: 20px
		height: 11px
		background: url('../images/icons/arrow_menu_mobile.svg') 0 0 no-repeat
	
	+minw(1241px)
		display: none

	&__icon
		position: relative
		width: 20px
		height: 14px
		margin: 0 auto
		+transform(rotate(0deg))
		+transition(.5s ease-in-out)
	  
		&_open
			.menu-toggle__line:first-child
				top: 0
				left: 3px
				width: 100%
				+transform(rotate(45deg))

			.menu-toggle__line:nth-child(2)
				width: 0
				opacity: 0

			.menu-toggle__line:nth-child(3)
				top: 14px
				left: 3px
				+transform(rotate(-45deg))
	 
	&__line
		position: absolute
		left: 0
		display: block
		width: 100%
		height: 2px
		background: #fff
		opacity: 1
		+transform(rotate(0deg))
		+transition(.25s ease-in-out)
		
		&:first-child
			top: 0
			width: 16px
			+transform-origin(left center)
		
		&:nth-child(2)
			top: 6px
			+transform-origin(left center)
		
		&:nth-child(3)
			top: 12px
			+transform-origin(left center)