// Our advantages
.our-advantages
	&__title
		margin-bottom: 29px
		padding-left: 28px
		
		+maxw(480px)
			margin-right: -20px
			margin-left: -20px
			padding-left: 0
		
	&__item
		min-height: 150px
		margin-bottom: 10px
		text-align: center
		
		+maxw(580px)
			width: 50%
			padding: 0
		
		+maxw(375px)
			float: none
			width: auto
		
	&__img
		min-height: 62px
		margin-bottom: 21px
		
		img
			margin: 0 auto
	
	&__name
		line-height: 20px