// Payment options
.payment-options
	padding: 20px 0
	
	&__title
		margin-bottom: 27px
		
	&__wrapper
		padding: 41px 0 50px
		background: #F5F5F5
		
		+maxw(768px)
			padding-top: 30px
			padding-bottom: 30px
		
		+maxw(480px)
			padding-top: 20px
			padding-bottom: 20px
	
	&__content
		margin-bottom: 19px
	
	&__left
		position: relative
		padding-left: 39px
		
		&:after
			content: ""
			position: absolute
			top: 0
			right: 70px
			width: 1px
			height: 100%
			background: #D1D1D1
			
			+maxw(992px)
				right: 25px
			
			+maxw(768px)
				display: none
		
		+maxw(992px)
			padding-right: 35px
		
		+maxw(768px)
			margin-bottom: 28px
		
		+maxw(480px)
			padding-right: 20px
			padding-left: 20px
	
	&__item
		min-height: 184px
		+box-sizing(border-box)
		
		&:not(:last-child)
			margin-bottom: 28px
		
		+maxw(768px)
			min-height: 0
		
		&_cashless-payments
			padding-top: 10px
			
			+maxw(768px)
				padding-top: 0
		
		&_payment-from-site
			padding-top: 5px
		
		&_cash-payment
			padding-top: 7px
	
	&__item-img
		margin-bottom: 27px
		
		img
			+maxw(480px)
				margin: 0 auto
	
	&__item-title
		margin-bottom: 19px
	
	&__item-text
		color: $color-2
		font-size: 16px
		line-height: 24px
	
	&__right
		padding-right: 40px
		padding-left: 10px
		
		+maxw(768px)
			padding-left: 40px
		
		+maxw(480px)
			padding-right: 20px
			padding-left: 20px
	
	&__note
		padding-left: 17px
		font-size: 14px