.preview
	background: #e6f2f2 url('../images/preview-bg.jpg') no-repeat center right
	background-size: contain
	&__text
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		height: 500px
		h1
			max-width: 420px
			font-size: 48px
			color: $black
			line-height: 60px
			margin-top: -45px