// Product
.product
	+maxw(1240px)
		padding-top: 27px
	
	+maxw(480px)
		padding-top: 22px
		
	&__title
		font-size: 26px
	
	&__photos-and-description
		margin-bottom: 48px
		
		+maxw(992px)
			margin-bottom: 26px
	
	&__photos, &__tabs
		width: 57.0315%
		
		+maxw(992px)
			float: none
			width: auto
	
	&__photos
		overflow: hidden
		
		+maxw(992px)
			margin-bottom: 31px
		
		+maxw(600px)
			margin: 0 -20px
	
	&__photo-print
		display: none
	
	&__description-wrapper
		width: 42.9685%
		
		+maxw(992px)
			float: none
			width: auto
			margin-right: -20px
			margin-left: -20px
	
	&__tabs-and-delivery
		margin-bottom: 186px
		
		+maxw(1240px)
			margin-bottom: 90px
		
		+maxw(992px)
			margin-bottom: 70px
		
		+maxw(768px)
			margin-bottom: 50px
		
		+maxw(480px)
			margin-bottom: 40px
	
	&__tabs, &__product-delivery
		+maxw(420px)
			margin-right: -5px
			margin-left: -5px
	
	&__tabs
		margin-bottom: 22px
	
	&__product-delivery
		padding-left: 40px
	
		+maxw(992px)
			padding-left: 0