// Product thumbnails
.product-thumbnails#thumbnail-slider
	width: 13%
	height: 440px
	
	+maxw(600px)
		display: none
	
	.inner
		height: 350px
		margin-top: 45px
		padding: 0
		background-color: transparent
	
	ul li
		margin: 0 0 10px
		border: none
		
		&:first-child
			margin-top: 0
		
		&:last-child
			margin-bottom: 0
	
	.thumb
		+border-radius(2px)
		+background-size(100%)
	
	#thumbnail-slider-prev, #thumbnail-slider-next
		border: 1px solid $border-2
		+border-radius(2px)
		cursor: pointer

		&:hover
			border-color: #bdbdbd
		
		&:before
			display: none
		
		&.disabled
			opacity: 1
	
	#thumbnail-slider-prev
		background: url('../images/icons/arrow_top.png') center center no-repeat
	
	#thumbnail-slider-next
		background: url('../images/icons/arrow_bottom.png') center center no-repeat