// Product description
.product-description
	max-width: 550px
	padding: 23px 19px 32px
	background: #F5F5F5
	
	+maxw(1280px)
		padding-right: 0
		padding-left: 0
	
	+maxw(992px)
		max-width: none
		padding-top: 0
	
	&__price-and-buttons
		margin-top: 83px
		padding-right: 8px
		padding-left: 18px
		
		+maxw(1280px)
			margin-top: 42px
		
		+maxw(992px)
			margin-top: 22px
			padding-right: 18px
			padding-left: 21px
		
		+maxw(420px)
			margin-top: 27px
			padding-right: 10px
			padding-left: 10px
	
	&__price, &__buttons
		+maxw(1280px)
			float: none
			text-align: center
	
	&__price
		margin-top: 14px
		font-size: 26px
		
		+maxw(1280px)
			margin-bottom: 15px
		
		+maxw(992px)
			float: left
		
		+maxw(520px)
			float: none
			text-align: center
	
	&__buttons
		+maxw(992px)
			float: right
		
		+maxw(520px)
			float: none
			text-align: center
	
	&__buy
		margin-right: 9px
		vertical-align: middle
		
		+maxw(420px)
			padding-right: 8px
			padding-left: 9px
	
	&__add-to-cart
		+maxw(420px)
			padding-right: 29px
			padding-left: 31px

// Product characteristics
.product-characteristics	
	&__item
		margin-bottom: 17px
		color: $black
		font-size: 14px
		line-height: 24px
		
		+maxw(992px)
			margin-bottom: 0
			border-bottom: 1px solid #dcdcdc
			line-height: 51px
		
		+maxw(420px)
			padding: 14px 0
		
		&_availability
			+maxw(420px)
				padding: 20px 0 17px
				
			.product-characteristics__name
				+maxw(420px)
					display: none
					
			.product-characteristics__value
				padding-left: 55px
				background: url('../images/icons/ok.png') 30px 3px no-repeat
				
				+maxw(992px)
					padding-left: 60px
					background-position: 34px center
				
				+maxw(520px)
					padding-left: 50px
					background-position: 22px center
				
				+maxw(420px)
					padding-left: 40px
					background-position: 18px center
		
		&_goods-parameter
			margin-top: 23px
			
			.product-characteristics__name
				padding-top: 6px
				
				+maxw(992px)
					padding-top: 0
				
				+maxw(420px)
					margin-bottom: 5px
			
			+maxw(992px)
				margin-top: 0
				line-height: 76px
			
			+maxw(420px)
				padding-top: 14px
				padding-bottom: 20px
	
	&__name
		+maxw(1280px)
			padding-right: 0
		
		+maxw(420px)
			float: none
			width: auto
			padding-left: 15px
			line-height: 22px
	
	&__value
		padding-left: 31px
		
		+maxw(992px)
			padding-right: 10px
			padding-left: 35px
		
		+maxw(520px)
			padding-left: 20px
		
		+maxw(420px)
			float: none
			width: auto
			padding-left: 14px
			line-height: 20px
	
	&__select
		width: 160px
		padding-top: 6px
		padding-bottom: 7px
		
		+maxw(420px)
			padding-left: 17px