// Purchase steps
.purchase-steps
	&__title
		margin-bottom: 23px
		line-height: 32px
		
	&__steps
		counter-reset: x
		
	&__item
		position: relative
		min-height: 35px
		margin-bottom: 30px
		padding-left: 63px
		counter-increment: x
		
		&:before
			content: counter(x)
			position: absolute
			top: 0
			left: 0
			width: 46px
			height: 46px
			+border-radius(50%)
			background: #F5F5F5
			color: $color-1
			font-size: 20px
			line-height: 46px
			text-align: center
		
		&:last-child
			.purchase-steps__item-text
				padding-left: 3px
	
	&__item-title
		margin-bottom: 10px
		color: $black
		font-size: 16px
	
	&__item-text
		color: $color-2
		font-size: 14px
		line-height: 21px
	
	&__address
		color: $color-1
	
	&_page-order
		padding-top: 23px