// Review
.review
	position: relative
	padding: 30px 70px 36px 29px
	border: 1px solid $border-2
	background: #FFF
	
	&:after
		content: ""
		position: absolute
		bottom: -20px
		left: 30px
		width: 35px
		height: 21px
		background: url('../images/icons/review_corner.png') 0 0 no-repeat
	
	+maxw(700px)
		padding-right: 29px
	
	+maxw(480px)
		padding-right: 15px
		padding-left: 15px
	
	&__rating
		margin-bottom: 23px
	
	&__title
		margin-bottom: 9px
	
	&__text
		margin-bottom: 31px
		
		&, p
			color: $color-2
			line-height: 24px
		
		p:last-child
			margin-bottom: 0
	
	&__author, &__date
		display: inline-block
		vertical-align: middle
		color: $black
	
	&__date
		margin-left: 14px