.pagination
	margin-top: 65px
	font-size: 14px
	color: $color-2
	text-align: center
	&__item
		@extend .inline-block
		color: $color-2
		padding: 0 5px
		height: 30px
		line-height: 30px
		box-sizing: border-box
		margin: 0 6px
		&--arrow
			height: 30px
			width: 30px
			border: 1px solid #bebebe
			border-radius: 50%
			margin: 0 8px
			padding: 0px
			svg
				fill: $color-2
				@extend .transition
		&:hover
			color: $color-1
			border-color: $color-1
			svg
				fill: $color-1