.img-change
	position: absolute
	left: 0px
	top: 0px
	width: 100%
	height: 100%
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-between
	opacity: 0
	&__num
		height: 100%
		width: 31%
		float: left
		padding-bottom: 5px
		border-bottom: 2px solid $color-2
		+transition(0.1s ease-in-out)
		&--active
			border-color: $color-1
.shop-items
	&__body
		display: flex
		flex-direction: row
		flex-wrap: wrap
	.col-3
		position: relative
		margin-top: 25px
		padding-top: 20px
		min-height: 335px
	&__img
		position: relative
		img
			display: block
			width: 100%
			+transition(0.2s ease-in-out)
			&.img-hide
				display: none
	&__cat
		font-size: 14px
		color: $color-2
		padding-top: 22px
	&__title
		font-size: 14px
		color: $black
		display: inline-block
		margin-top: 10px
		line-height: 18px
		&:hover
			color: $color-1
	&__price
		font-size: 26px
		color: $black
		padding-top: 24px
		position: relative
		.fav-prd
			position: absolute
			right: 0
			bottom: 5px
			cursor: pointer
			@extend .transition
			&:hover
				opacity: 0.5
	&__charact
		font-size: 14px
		color: $color-2
		margin-bottom: 16px
		&:last-child
			margin-bottom: 0px
		&:first-child
			padding-top: 25px
	&__buy
		margin-top: 28px
		text-align: center
		margin-bottom: 10px
		a
			display: inline-block
			box-sizing: border-box
			height: 50px
			width: 160px
			color: $white
			line-height: 50px
			border-radius: 5px
			font-size: 16px
			padding: 0 15px
			background: $color-1
			text-align: center
			font-weight: 500
			cursor: pointer
			border: 0px
			&:hover
				background: $color-hover
	&__hide
		+transition(0.3s ease-in-out)
		opacity: 0
		visibility: hidden
		transform: translate3d(0, 10%, 0)
		backface-visibility: hidden
		height: 0px
	&__item
		position: relative
		z-index: 10
		transition: background 0.2s ease-in-out
		overflow: hidden
		&:hover
			position: absolute
			z-index: 20
			top: 0px
			left: 0px
			width: 100%
			padding: 20px
			background: $white
			box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2)
			box-sizing: border-box
			overflow: auto
			.shop-items__hide
				height: auto
				opacity: 1
				visibility: visible
				transform: translate3d(0, 0, 0)
			.img-change
				opacity: 1