// Store address
.store-address
	&__title
		margin-bottom: 21px
	
	&__content
		margin-bottom: 38px
		margin-left: -2px
	
	&__address
		color: $black
	
	&__map
		padding-top: 6px
		
		#map
			width: 730px
			height: 490px
			max-width: 100%
			margin: 0
			padding: 0
			
			+maxw(600px)
				height: 400px
			
			+maxw(480px)
				height: 320px
			
			+maxw(360px)
				height: 260px
		
		+maxw(768px)
			margin-bottom: 25px
	
	&__printable-map
		display: none
	
	&__route-description
		p
			margin-bottom: 24px
	
	&__route-description-print
		display: none
		
		p
			font-size: 7pt
			line-height: 12pt
	
	&_page-contacts
		padding: 48px 0 79px
		
		+maxw(768px)
			padding-bottom: 50px
		
		+maxw(480px)
			padding-bottom: 30px