.table
	table
		width: 100%
		thead
			tr
				td
					padding: 15px 30px
					color: $black
					font-size: 20px
					
					+maxw(550px)
						padding-right: 15px
						padding-left: 15px
		tbody
			border: 1px solid #d1d1d1
			tr
				td
					padding: 18px 30px 16px
					font-size: 16px
					color: $black
					background: $white
					
					+maxw(550px)
						padding-right: 15px
						padding-left: 15px
						
				&:nth-child(2n)
					td
						background: #f5f5f5
		&.table-install
			thead
				tr
					td
						&:first-child
							padding-left: 0px
			tbody
				tr
					td
						&:first-child
							width: 75%
							
							+maxw(992px)
								width: 70%
							
							+maxw(768px)
								width: 60%
								
						&:last-child
							width: 25%
							
							+maxw(992px)
								width: 30%
							
							+maxw(768px)
								width: 40%