// Tabs
.tabs		
	&__wrapper
		+maxw(700px)
			position: relative
			height: 41px
		
	&__select
		+maxw(700px)
			position: absolute
			z-index: 1
			top: 0
			right: 0
			left: 0
			width: 290px
			max-width: 100%
			margin: 0 auto
			background: $white
			+border-radius(4px)
			
	&__toggle
		position: relative
		+box-sizing(border-box)
		padding-left: 20px
		border: 1px solid #bdbdbd
		+border-radius(4px)
		background: #FFF
		font-size: 14px
		line-height: 41px
		
		&:after
			content: ""
			position: absolute
			top: 0
			right: 20px
			bottom: 0
			width: 11px
			height: 6px
			margin: auto
			background: url('../images/icons/select_tabs_arrow.png') 0 0 no-repeat
		
		+minw(701px)
			display: none
			
	&__list
		font-size: 0
		
		+maxw(700px)
			display: none

	&__list-item
		display: inline-block
		padding: 11px 29px
		font-size: 14px
		line-height: 21px
		color: $black
		cursor: pointer
		vertical-align: text-bottom
		
		&:hover, &_active
			background: #F5F5F5
			
			+maxw(700px)
				background: transparent
				color: $color-1
		
		+maxw(700px)
			display: block
			padding-right: 22px
			padding-left: 22px
	
	&__reviews-count
		position: relative
		top: -5px
		left: -2px
		font-size: 9px

	&__tab-content
		padding: 23px 28px 11px
		background: #F5F5F5
		
		p
			line-height: 22px
			
			+maxw(480px)
				font-size: 14px
		
		&_advantages
			padding-top: 42px
			padding-right: 0
			padding-left: 0
		
		&_reviews
			padding-top: 46px
			padding-bottom: 61px
		
		&:not(:first-child)
			display: none
		
		+maxw(700px)
			padding-right: 0
			padding-left: 0
			background: transparent
	
	&__write-review
		margin-bottom: 50px
		text-align: center
		
		.btn-ghost-orange
			position: relative
			left: 4px
			padding-right: 26px
			padding-left: 26px
	
	&_open
		.tabs__list
			-webkit-box-shadow: 0px 19px 80px 0px rgba(0, 0, 0, 0.22)
			box-shadow: 0px 19px 80px 0px rgba(0, 0, 0, 0.22)
		
		.tabs__toggle:after
			background: url('../images/icons/select_tabs_arrow_open.png') 0 0 no-repeat