.block-title
	h3
		padding: 78px 0 45px 0
		font-size: 26px
		color: $black
	&--instagram
		h3
			padding-left: 36px
			position: relative
			&:before
				content: ''
				width: 22px
				height: 22px
				background: url('../images/instagram-icon.svg') no-repeat
				position: absolute
				left: 0px
				top: 76px

.title
	padding-bottom: 40px
	&--inside
		padding-bottom: 30px
	&--delivery
		padding-bottom: 30px
	&--catalog
		padding-bottom: 0px
	h1
		font-size: 48px
		color: $black
		display: inline-block
		span
			font-size: 16px
			color: $color-2
			display: none
			padding-left: 12px
	h5
		font-size: 16px
		color: $color-2
	&__back
		display: none
	&__catalog
		padding: 10px 12px 10px 40px
		background: #f5f5f5
		border: 1px solid #bdbdbd
		border-radius: 5px
		display: none
		font-size: 14px
		color: $black
		position: relative
		cursor: pointer
		@extend .transition
		margin-top: 33px
		margin-right: 19px
		&:before
			content: ''
			position: absolute
			top: 7px
			left: 13px
			display: block
			width: 16px
			height: 18px
			background: url('../images/catalog-filters-icon.svg') no-repeat
		&:hover
			background: $white
