.user
	&__nav
		border-bottom: 1px solid #dedede
	&__nav-item
		display: block
		float: left
		padding: 12px 29px
		color: $black
		font-size: 14px
		@extend .transition
		&--current
			background: #f5f5f5
		&:hover
			background: #f5f5f5
	&__nav-exit
		display: block
		float: right
		color: $color-2
		font-size: 14px
		padding: 5px 0 5px 30px
		position: relative
		top: -66px
		&:before
			content: ''
			position: absolute
			top: 0px
			left: 0px
			background: url('../images/close-icon-2.svg') no-repeat
			width: 20px
			height: 20px
	&__form
		margin-top: 50px
	&__form-body
		max-width: 620px
		box-sizing: border-box
		padding: 50px 35px 50px 20px
		margin: 0 auto
		background: #f5f5f5
	&__form-group
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0px
		&:after
			content: ''
			display: block
			clear: both
	&__form-text
		float: left
		height: 50px
		box-sizing: border-box
		width: 28%
		font-size: 14px
		color: $color-2
		text-align: right
		padding-top: 18px
	&__form-input
		float: right
		width: 68%
		input[type=tel], input[type=text], input[type=email]
			box-sizing: border-box
			height: 50px
			width: 100%
			color: $color-2
			line-height: 50px
			border: 1px solid $border-1
			border-radius: 5px
			font-size: 14px
			padding: 0 15px
			background: $white
			box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.06)
			&:focus
				border-color: #c5c5c5
		input[type=submit]
			box-sizing: border-box
			height: 50px
			width: 100%
			max-width: 220px
			color: $white
			line-height: 48px
			border-radius: 5px
			font-size: 16px
			padding: 0 15px
			background: $color-1
			text-align: center
			font-weight: 500
			cursor: pointer
			border: 0px
			&:hover
				background: $color-hover
	&__history
		margin-top: 50px
	&__history-names
		float: right
		width: 85%
		margin-bottom: 25px
		color: $black
		font-size: 14px
		box-sizing: border-box
		padding: 0 35px
		span
			display: block
			float: left
			&:nth-child(1)
				width: 62%
			&:nth-child(2)
				width: 15.5%
			&:nth-child(3)
				width: 14.5%
			&:nth-child(4)
				width: 8%
	&__history-item
		display: block
		margin-bottom: 30px
		&:after
			content: ''
			display: block
			clear: both
		&:last-child
			margin-bottom: 0px
	&__history-img
		float: left
		width: 14%
	&__history-cont
		float: right
		width: 85%
		padding: 59px 35px
		box-sizing: border-box
		background: #f5f5f5
		font-size: 16px
		color: $black
		display: flex
		flex-wrap: wrap
		flex-direction: row
		align-items: center
		a
			font-size: 26px
			color: $black
			&:hover
				color: $color-1
		span
			display: block
			float: left
			&:nth-child(1)
				width: 62%
			&:nth-child(2)
				width: 15.5%
			&:nth-child(3)
				width: 14.5%
			&:nth-child(4)
				width: 8%




