// Write review
.write-review
	&__title
		margin-bottom: 33px
		text-align: center
	
	&__product, &__form
		+maxw(700px)
			float: none
			width: auto
			padding: 0
	
	&__product
		padding-top: 5px
	
	&__product-photo
		margin-bottom: 14px
		
		img
			+maxw(700px)
				margin: 0 auto
	
	&__product-name
		margin-bottom: 18px
		font-size: 14px
		line-height: 24px
		
		+maxw(700px)
			text-align: center
	
	&__explanatory-text
		p
			margin-bottom: 24px
			font-size: 16px
			line-height: 24px
	
	&__form
		padding-left: 26px
		
		+maxw(700px)
			padding-left: 0
	
	&__form-title
		margin-bottom: 15px
	
	&__rating
		margin-bottom: 24px
		padding-left: 2px
	
	&__form-item
		margin-bottom: 13px
	
	&__form-label
		display: block
		margin-bottom: 8px
		font-size: 14px
		line-height: 24px
		color: $color-2
	
	&__form-text,
	&__form-textarea
		width: 100%
		border: 1px solid $border-1
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06) inset
		+border-radius(5px)
		+box-sizing(border-box)
		font-size: 15px
		font-family: "Geometria"
	
	&__form-text
		height: 50px
		padding: 0 15px
	
	&__form-textarea
		height: 150px
		padding: 15px
		resize: none
	
	&__form-actions
		padding-top: 4px
		
		+maxw(700px)
			text-align: center
	
	&__form-submit
		padding-right: 26px
		padding-left: 26px